@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 17 17 17;
    --text-primary: 251 251 251;
    --kick: 85 250 24;
  }
}

body {
  @apply bg-[#F4F4F4];
}

.buy-btn {
  @apply bg-kick text-bgPrimary uppercase rounded overflow-hidden font-black tracking-wider inline-block relative m-0 border-none cursor-pointer outline-none text-xs py-2 px-3 md:py-3 md:px-5 md:text-base;
}

.buy-btn:hover {
  @apply bg-bgPrimary;
}

.buy-btn span {
  @apply relative z-10;
  transition: color 0.4s;
}

.buy-btn:hover span {
  @apply text-kick;
}

.buy-btn::before,
.buy-btn::after {
  @apply absolute top-0 left-0 w-full h-full z-0;
}

.buy-btn::before {
  content: "";
  @apply bg-kick;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.buy-btn:hover::before {
  transform: translate3d(100%, 0, 0);
}
